/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ul li {
  list-style: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #3872BC;
  padding: 0.5rem 4rem;
  box-shadow: 0 0.2rem 0.4rem #00000080;
}

.menu img {
  width: 50px;
  height: auto;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.menu-item a {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  padding-left: 8rem;
}

.hero-content {
  width: 80%;
  text-align: left;
}

h1 {
  color: #0e4097;
  line-height: 80px;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: bold;
}

.hero-image {
  position: relative;
  width: 100%;
  height: calc(100vh - 66px);
  text-align: right;
}
.hero-image-container {
  background-image: url("img/image.png");
  width: 100%;
  height: 100%;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.hero-txt {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.btn-container {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

.btn-colored {
  background-color: #3872BC;
  color: #F4F5F7;
}

.btn-colorless {
  background: none;
  color: #3872BC;
  border: 2px solid #3872BC;
}